.burger {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    
    border-radius: 50%;
    transition: .5s;
	
	& span,
	& span::before,
	& span::after  {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -1px;
		margin-left: -10px;
		width: 20px;
		height: 2px;
		background-color: #000;
		border-radius: 30px;
	}
	
	& span::before,
	& span::after {
		content: "";
		transition: 0.5s;
	}
	
	& span::before {
		transform: translateY(-5px);
	}
	
	& span::after {
		transform: translateY(5px);
	}
	
	&--active span{
		height: 0;
	}	

	&--active span::before {
		transform: rotate(-45deg);
	}
	
	&--active span::after {
		transform: rotate(45deg);
	}
}

