.footer {
	padding: 35px 0;
	text-align: center;
}

.copyrights {
	text-transform: uppercase;
	color: #9c9c9c;
	font-size: 13px;
	line-height: 26px;
	letter-spacing: 0.33px;
	font-weight: 700;
	line-break: auto;
}

.highlighted {
	color: #000;
}