.header {
	max-width: 100%;
	height: 10vh;
	background-color: #ffffff;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 10vh;

	}
}

.nav {

	&__item {
		display: inline-block;
		color: $dark-color;
		text-transform: uppercase;
		font-weight: 700;

		& + & {
			margin-left: 40px;
		}
	}
}

.nav--active {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	margin-top: 10vh;
	// min-height: 100vh;

	.nav__item {
		display: block;
		margin: 3rem 0;
		text-align: center;
	}
}

@import "./burger";